body, html {
    font-family: 'Inter';
    background-color: #151515;
    color: #FFFFFF;
    justify-content: center;
    margin: 16px;
}

.header{
    background-color: #151515;
    position: fixed;
    height: 141px;
    width: 390px;
    top: 0;
    padding-top: 10px;
    font-weight: 900;
    font-size: 18pt;
    color: #ED414E;
}

.top-nav{
    display: flex;
    column-gap: 10px;
    justify-content: left;
}

h2{
    font-weight: 700;
}


/* cards */

.description{
    color: #C2C2C2;
    font-size: 12pt;
}

.MSI{
    background-image: url('/Images/MSI.png');
    background-size: cover;
    padding: 10%;
    border-radius: 4%;
    background-color: gray;
    background-blend-mode: multiply;
    height: 150px;
}

.VCT{
    background-image: url('/Images/VCT_AMER_PRIMER_ASSETS_HEADER_IMAGE_2.png');
    background-size: cover;
    padding: 10%;
    border-radius: 4%;
    background-color: gray;
    background-blend-mode: multiply;
    height: 150px;
}

.patchNotes{
    background-image: url('/Images/050223_LoL_Patch_13_9_Notes_Banner.jpg');
    background-size: cover;
    padding: 10%;
    border-radius: 4%;
    background-color: gray;
    background-blend-mode: multiply;
    height: 150px;
}

.tftpatchNotes{
    background-image: url('/Images/Patch_notes_13-8_Banners.jpg');
    background-size: cover;
    padding: 10%;
    border-radius: 4%;
    background-color: gray;
    background-blend-mode: multiply;
    height: 150px;
}

.valpatchNotes{
    background-image: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt94898a29a8da8532/64307908214c3211e18df02c/Val_Banner_PatchNotes_6_07.jpg');
    background-size: cover;
    padding: 10%;
    border-radius: 4%;
    background-color: gray;
    background-blend-mode: multiply;
    height: 150px;
}

.archive{
    background-image: url('/Images/2021_Key_art.jpg');
    background-size: cover;
    padding: 10%;
    border-radius: 4%;
    background-color: gray;
    background-blend-mode: multiply;
    height: 150px;
}

.content{
	 padding-top: 35px;
     text-align: left;
     width: 250px;
}

/* buttons */
#lol{
    width: 91px;
    height: 39px;
    font-size: 13pt;
    font-weight: 500;
    background-color: #2C2C2C;
    color: #8f8f8f;
    border-style: none;
    border-radius: 5%;
    font-family: 'Inter';
}

#lol:hover{
    border-color: white;
    border-style: solid;
    font-weight: 700;
    color: white;
}

#lol-after{
    width: 91px;
    height: 39px;
    font-size: 13pt;
    font-weight: 500;
    background-color: #2C2C2C;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5%;
    font-family: 'Inter';
    font-weight: 700;
}

#tft{
    width: 91px;
    height: 39px;
    font-size: 13pt;
    font-weight: 500;
    background-color: #2C2C2C;
    color: #8f8f8f;
    border-style: none;
    border-radius: 5%;
    font-family: 'Inter';
}

#tft:hover{
    border-style: solid;
    border-color: white;
    font-weight: 700;
    color: white;
}

#tft-after{
    width: 91px;
    height: 39px;
    font-size: 13pt;
    font-weight: 500;
    background-color: #2C2C2C;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5%;
    font-family: 'Inter';
    font-weight: 700;
}

#val{
    width: 91px;
    height: 39px;
    font-size: 13pt;
    font-weight: 500;
    background-color: #2C2C2C;
    color: #8f8f8f;
    border-style: none;
    border-radius: 5%;
    font-family: 'Inter';
}

#val:hover{
    border-style: solid;
    border-color: white;
    font-weight: 700;
    color: white;
}


#val-after{
    width: 91px;
    height: 39px;
    font-size: 13pt;
    font-weight: 500;
    background-color: #2C2C2C;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5%;
    font-family: 'Inter';
    font-weight: 700;
}

#live{
    width: 61px;
    height: 22px;
    background-color: #C91D1D;
    border-radius: 5%;
    border-style: none;
    color: white;
    font-weight: 700;
    font-family: 'Inter';
}

.navigationBar{
    width: 500px;
    height: 70px;
    background-color: #2C2C2C;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#icons{
    width: 390px;
    height: 55px;
    justify-content: space-evenly;
    color: #8f8f8f;
    font-size: 32px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}