body, html {
    font-family: 'Inter';
    background-color: #151515;
    color: #FFFFFF;
    justify-content: center;
    margin: 16px;
}

.header{
    background-color: #151515;
    text-align: center;
    display: flex;
    gap: 25%;
    position: fixed;
    width: 390px;
    height: 60px;
    top: 0;
    padding-top: 10px;
}

.header p{
    font-weight: 500;
}

ion-icon{
    padding-top: 12px;
    font-size: 25px;
}

.header-image{
    background-image: url('/Images/2021_Key_art.jpg');
    background-size: cover;
    border-radius: 4%;
    padding: 35%;
}

.collapse {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 700;
    padding: 10px;
    align-content: center;
}

#drop{
    font-size: 15px;
}
  
/* .active,
.collapse:hover {
    background-color: #808080;
} */
  
.text {
    background-color: #2c2c2c;
    line-height: 1rem;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    color: #c2c2c2;
    display: none;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    transition: max-height 0.2s ease-out;
}

/*champion block*/
.block{
    background-color: #2C2C2C;
    padding: 10px;
    border-radius: 4px;
    justify-content: center;
    margin-bottom: 8px;
}

.champInfo{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.champText{
    flex-direction: column;
    line-height: 1;
}

#champName{
    font-size: 13px;
    font-weight: 700;
}

#champDescription{
    color: #C2C2C2;
    font-size: 13px;
}

#champImage{
    background-color: #808080;
    width: 67px;
    height: 67px;
    border-radius: 4px;
}